<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75274003-ivhdv9a60nemc9c40kk719vv7tsjlgtc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75274003-ivhdv9a60nemc9c40kk719vv7tsjlgtc</string>
	<key>API_KEY</key>
	<string>AIzaSyBf2Jpqsg1k_2F6jWhlDnhVN8aWpO6TfLw</string>
	<key>GCM_SENDER_ID</key>
	<string>75274003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieTicket</string>
	<key>PROJECT_ID</key>
	<string>book-ticket-43292</string>
	<key>STORAGE_BUCKET</key>
	<string>book-ticket-43292.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75274003:ios:f31743aec9f732f528ace6</string>
</dict>
</plist>